{% extends "layout.html" %}
{% block title %}{{ player }}{% endblock %}

{% block head %}
        <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.7.3/socket.io.min.js"></script>
        <script>
            var socket = io.connect('http://127.0.0.1:5000');
            socket.on('connect', function() {
            socket.emit('my event', {data: 'I\'m connected!'});
            });
        </script>

{% endblock %}

{% block content %}

<h1>player {{ player }} game1</h1>

<svg id=g width="500" height="100" style='background-color: grey;'>
</svg>

<script>
    var xmlns = "http://www.w3.org/2000/svg";
    var game_state = {{ game_state | tojson}}
    var game_id = game_state['game_id']

    var point_diameter = 20
    var highlight_diameter = 2*point_diameter
    var tile_diameter = 20
    var tile_offset = tile_diameter/4

    var player = '{{ player }}'
    var playerA = game_state['playerA']
    var playerB = game_state['playerB']
    var Cols = ['a', 'b', 'c', 'd','e','f','g','h','i','j','k']
    var Rows = [1, 2, 3, 4, 5]
    var nbHexAcross = Cols.length
    var hexWidth = 3*tile_diameter
    var hexHeight = 3*tile_diameter
    var svgWidth = hexWidth*(nbHexAcross+1)
    var svgHeight = (Rows.length+1)*hexHeight

    var points = [] // holds the location & state of each point
    var highlights = [] // holds the location & state of each point
    var tiles = [] // holds the location & state of each point

    function point (name, x, y) {
        this.name = name;
        this.x = x;
        this.y = y;
        this.state = [];
        this.highlight = false;
    }

    function resizeSvg(width, height) {
        g.setAttribute("width", width);
        g.setAttribute("height", height);
    }

    function drawPoint(name, x, y, radius) {
        drawPoint.count = ++drawPoint.count || 1
        var newPoint = document.createElementNS(xmlns, "circle");
        newPoint.setAttributeNS(null,"id", name);
        newPoint.setAttributeNS(null,"cx",x);
        newPoint.setAttributeNS(null,"cy",y);
        newPoint.setAttributeNS(null,"r",radius);
        newPoint.setAttributeNS(null,"fill", "blue");
        newPoint.setAttributeNS(null,"onclick", "changeState(\"" + name + "\")")
        g.appendChild(newPoint);
    };

    function drawTile(name, x, y, radius, color) {
        drawTile.count = ++drawTile.count || 1
        var newPoint = document.createElementNS(xmlns, "circle");
        newPoint.setAttributeNS(null,"id", "tile_" + drawTile.count);
        newPoint.setAttributeNS(null,"cx",x);
        newPoint.setAttributeNS(null,"cy",y);
        newPoint.setAttributeNS(null,"r",radius);
        newPoint.setAttributeNS(null,"fill", color);
        newPoint.setAttributeNS(null,"stroke", "black");
        newPoint.setAttributeNS(null,"onclick", "changeState(\"" + name + "\")")
        g.appendChild(newPoint);
        tiles.push(newPoint)
    };

    function removeTiles(tiles_to_remove) {
        for (var i in tiles_to_remove) {
            tiles_to_remove[i].remove()
        }
    }

    function changeState(pointName) {
        thisPoint = points[pointName];
        // can't use $.post() to send JSON data - need access to contentType:
        $.ajax({
            type: 'POST',
            url: "http://127.0.0.1:5000/new_click/"+ player +"/"+game_id+"/"+pointName+"/",
            data: JSON.stringify(game_state),
            success: function(data) {console.log("POST successful"); console.log(data)},
            contentType: "application/json",
            dataType: 'json'
        });
    }

    function updatePoint(pointName) {
        pt = $("#"+pointName)[0]
        thisPoint = points[pointName]
        pt.setAttribute("fill","white")
        g.appendChild(pt);
        for (var i in thisPoint.state) {
            switch(thisPoint.state[i]) {
                case playerA:
                    var color = "green"
                    break;
                case playerB:
                    var color = "blue"
                    break;
                case "magic":
                    var color = "orange"
                    break;
                default:
                    var color = "white"
                    break;
            }
            drawTile(pointName, thisPoint.x + i*tile_offset, thisPoint.y - i*tile_offset, tile_diameter, color);
        }
    }

    function updatePoints() {
        for (var i in points) {
            if (points.hasOwnProperty(i)) {
                updatePoint(points[i].name);
            }
        }
    }

    function updateHighlights() {
        var pointsToHighlight = []
        for (var i in points) {
            pointName = points[i].name
            pt = $("#"+pointName)[0]
            thisPoint = points[pointName]
            h = $("#h_"+pointName)[0]
            thisHighlight = highlights[pointName]

            if (thisPoint.highlight) {
                pointsToHighlight.push(h)
            } else {
                h.setAttribute("fill", "grey");
            }
        }

        for (var i in pointsToHighlight) {
            pointsToHighlight[i].setAttribute("fill", "yellow");
            g.appendChild(pointsToHighlight[i])
        }
    }

    function updateBoard(new_game_state) {
        for (var i in points) {
            if (points.hasOwnProperty(i)) {
                points[i].state = new_game_state[points[i].name]
                if (new_game_state["selected"] == i) {
                    points[i].highlight = true;
                } else {
                    points[i].highlight = false;
                }
            }
        }
        removeTiles(tiles);
        updateHighlights();
        updatePoints();
    }

    function generateGrid() {
        for (var rowIdx = Rows.length - 1; rowIdx >= 0; rowIdx--) {
            var yOffset = 1;
            xOffset = rowIdx*0.5;
            for (var colIdx = Cols.length - 1; colIdx >= 0; colIdx--) {
                name = Cols[colIdx]+Rows[rowIdx];
                if (["a1", "a2", "b1", "j5", "k4", "k5"].indexOf(name) >= 0) {
                    // don't generate points where they don't exist on the board
                    continue
                }
                x = (colIdx+xOffset)*hexWidth
                y = (rowIdx+yOffset)*hexHeight
                drawPoint("h_" + name, x, y, highlight_diameter);
                highlights[name] = new point("h_"+name, x, y)
                drawPoint(name, x, y, point_diameter);
                points[name] = new point(name, x, y)
            }
        }
    };

    socket.on('update_board', function(data){
        game_state = data;
        updateBoard(data);
    });

    $(function() {
        resizeSvg(svgWidth, svgHeight);
        generateGrid();
        updateBoard(game_state);
    });
</script>
{% endblock %}