{% extends "layout.html" %}

{% block title %}{{ game_state["playerA"] }} vs {{ game_state["playerB"] }}{% endblock %}

{% block head %}
        <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.7.3/socket.io.min.js"></script>
        <script>
            var socket = io.connect();
            // var socket = io.connect('http://127.0.0.1:5000');
            socket.on('connect', function() {
            socket.emit('my event', {data: 'I\'m connected!'});
            });
        </script>

{% endblock %}

{% block content %}

<div class="row">
<p>
</div>
<div class="row">
    <div class="col-md-8">
        <svg id=g class="img-responsive center-block" width="720" height="360" viewBox="0 0 720 360" preserveAspectRatio="xMidYMid" style='background-color: #ededed;'>
        </svg>
    </div>
    <div class="col-md-2">
        <table class="table">
            <tr {% if game_state['current_turn'] == game_state['playerA'] %} class="success" {% endif %}>
                <td>
                        <svg id=playerAg height="75" width="50" viewBox="0 0 50 50" preserveAspectRatio="xMidYMid">
                            <circle cx="25" cy="25" r="20" stroke="black" fill='#2196f3'/></circle>
                            <text x="50%" y="70%" text-anchor="middle" font-size="30" font-family="Helvetica Neue""></text>
                        </svg>
                </td>
                <td>
                    <h3>{{ game_state["playerA"] }}</h3>
                </td>
            </tr>
            <tr {% if game_state['current_turn'] == game_state['playerB'] %} class="success" {% endif %}>
                <td>
                        <svg id=playerBg height="75" width="50" viewBox="0 0 50 50" preserveAspectRatio="xMidYMid">
                            <circle cx="25" cy="25" r="20" stroke="black" fill='#4caf50'/></circle>
                            <text x="50%" y="70%" text-anchor="middle" font-size="30" font-family="Helvetica Neue"">5</text>
                        </svg>
                </td>
                <td>
                    <h3>{{ game_state["playerB"] }}</h3>
                </td>
            </tr>
        </table>
    </div>
    <div class="col-md-1">
    </div>
</div>


<script>
    var back_colour = '#ededed' 
    var magic_colour = '#e51c23'
    var playerA_colour = '#2196f3'
    var playerB_colour = '#4caf50'

    var xmlns = "http://www.w3.org/2000/svg";
    var game_state = {{ game_state | tojson}}
    var game_id = {{ game_id }}

    var point_diameter = 20
    var highlight_diameter = 2*point_diameter
    var tile_diameter = 20
    var tile_offset = tile_diameter/4

    var player = '{{ player }}'
    var playerA = game_state['playerA']
    var playerB = game_state['playerB']
    var Cols = ['a', 'b', 'c', 'd','e','f','g','h','i','j','k']
    var Rows = [1, 2, 3, 4, 5]
    var nbHexAcross = Cols.length
    var hexWidth = 3*tile_diameter
    var hexHeight = 3*tile_diameter
    var svgWidth = hexWidth*(nbHexAcross+1)
    var svgHeight = (Rows.length+1)*hexHeight

    var playerAscore = 0;
    var playerBscore = 0;

    var points = [] // holds the location & state of each point
    var highlights = [] // holds the location & state of each point
    var tiles = [] // holds the location & state of each point

    function point (name, x, y) {
        this.name = name;
        this.x = x;
        this.y = y;
        this.state = [];
        this.highlight = false;
    }

    function resizeSvg(width, height) {
        g.setAttribute("width", width);
        g.setAttribute("height", height);
    }

    function drawPoint(name, x, y, radius) {
        drawPoint.count = ++drawPoint.count || 1
        var newPoint = document.createElementNS(xmlns, "circle");
        newPoint.setAttributeNS(null,"id", name);
        newPoint.setAttributeNS(null,"cx",x);
        newPoint.setAttributeNS(null,"cy",y);
        newPoint.setAttributeNS(null,"r",radius);
        newPoint.setAttributeNS(null,"fill", "blue");
        newPoint.setAttributeNS(null,"onclick", "changeState(\"" + name + "\")")
        g.appendChild(newPoint);
    };

    function drawTile(name, x, y, radius, color) {
        drawTile.count = ++drawTile.count || 1
        var newPoint = document.createElementNS(xmlns, "circle");
        newPoint.setAttributeNS(null,"id", "tile_" + drawTile.count);
        newPoint.setAttributeNS(null,"cx",x);
        newPoint.setAttributeNS(null,"cy",y);
        newPoint.setAttributeNS(null,"r",radius);
        newPoint.setAttributeNS(null,"fill", color);
        newPoint.setAttributeNS(null,"stroke", "black");
        newPoint.setAttributeNS(null,"onclick", "changeState(\"" + name + "\")")
        g.appendChild(newPoint);
        tiles.push(newPoint)
    };

    function removeTiles(tiles_to_remove) {
        for (var i in tiles_to_remove) {
            tiles_to_remove[i].remove()
        }
    }

    function changeState(pointName) {
        thisPoint = points[pointName];
        // can't use $.post() to send JSON data - need access to contentType:
        $.ajax({
            type: 'POST',
            url: "/new_click/"+ player +"/"+game_id+"/"+pointName+"/",
            data: JSON.stringify(game_state),
            success: function(data) {console.log("POST successful"); console.log(data)},
            contentType: "application/json",
            dataType: 'json'
        });
    }

    function updatePoint(pointName) {
        pt = $("#"+pointName)[0]
        thisPoint = points[pointName]
        pt.setAttribute("fill","white")
        g.appendChild(pt);
        for (var i in thisPoint.state) {
            switch(thisPoint.state[i]) {
                case "A":
                    var color = playerA_colour
                    break;
                case "B":
                    var color = playerB_colour
                    break;
                case "m":
                    var color = magic_colour
                    break;
                default:
                    var color = "white"
                    break;
            }
            drawTile(pointName, thisPoint.x + i*tile_offset, thisPoint.y - i*tile_offset, tile_diameter, color);
        }
    }

    function updatePoints() {
        for (var i in points) {
            if (points.hasOwnProperty(i)) {
                updatePoint(points[i].name);
            }
        }
    }

    function updateHighlights() {
        var pointsToHighlight = []
        for (var i in points) {
            pointName = points[i].name
            pt = $("#"+pointName)[0]
            thisPoint = points[pointName]
            h = $("#h_"+pointName)[0]
            thisHighlight = highlights[pointName]

            if (thisPoint.highlight) {
                pointsToHighlight.push(h)
            } else {
                h.setAttribute("fill", back_colour);
            }
        }

        for (var i in pointsToHighlight) {
            pointsToHighlight[i].setAttribute("fill", "yellow");
            g.appendChild(pointsToHighlight[i])
        }
    }

    function updateBoard(new_game_state) {
        playerAscore = 0
        playerBscore = 0
        for (var i in points) {
            if (points.hasOwnProperty(i)) {
                points[i].state = new_game_state[points[i].name]
                last_element_idx = points[i].state.length
                if (points[i].state[points[i].state.length-1] == "A") {
                    playerAscore += points[i].state.length
                }
                else if (points[i].state[points[i].state.length-1] == "B") {
                    playerBscore += points[i].state.length
                }
                if (new_game_state["selected"] == i) {
                    points[i].highlight = true;
                } else {
                    points[i].highlight = false;
                }
            }
        }
        removeTiles(tiles);
        updateHighlights();
        updatePoints();
    }

    function addScore(playerA_score, playerB_score) {
        playerAg.getElementsByTagName('text')[0].textContent = playerA_score
        playerBg.getElementsByTagName('text')[0].textContent = playerB_score
    }

    function generateGrid() {
        for (var rowIdx = 0; rowIdx <= Rows.length - 1; rowIdx++) {
            var yOffset = 1;
            xOffset = rowIdx*0.5;
            for (var colIdx = 0; colIdx <= Cols.length - 1; colIdx++) {
                name = Cols[colIdx]+Rows[rowIdx];
                if (["a1", "a2", "b1", "j5", "k4", "k5"].indexOf(name) >= 0) {
                    // don't generate points where they don't exist on the board
                    continue
                }
                x = (colIdx+xOffset)*hexWidth
                y = (rowIdx+yOffset)*hexHeight
                drawPoint("h_" + name, x, y, highlight_diameter);
                highlights[name] = new point("h_"+name, x, y)
                drawPoint(name, x, y, point_diameter);
                points[name] = new point(name, x, y)
            }
        }
    };

    socket.on('update_board', function(data){
        game_state = data;
        updateBoard(data);
    });

    $(function() {
        // resizeSvg(svgWidth, svgHeight);
        generateGrid();
        updateBoard(game_state);
        addScore(playerAscore, playerBscore);
    });
</script>
{% endblock %}